@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Care</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar center-block navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-md-center">
                        <ul class="navbar-nav d-lg-flex align-items-center">
                            <li class="nav-item h-100">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Contribute</a>
                            </li>
                            <li class="nav-item h-100">
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img id="img_logo" alt="Logo" src="@Url.Content("/Images/logo.png")" />
                                    </a>
                            </li>
                            <li class="nav-item h-100">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Donate item</a>
                            </li>
                        </ul>
                    </div>
                    </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Care - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="@(Url.Content("../Scripts/build/bundle.js"))" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
