@model AdminModel
<div class="form-card">
    <h2 class="fs-title">Admin login</h2>
</div>
<form asp-controller="Auth" asp-action="LoginAdmin" method="POST">
    <div class="form-card">
        <div class="form-group">
            <input type="password" asp-for="Password" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <input type="button" class="previous action-button-previous" value="Previous" />
    <button type="submit" class="action-button"><span>Confirm</span></button>
</form>
