@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="text-align:left;">
        <button class="btn" type="button" id="loginBtn">Log In</button>
        <span style="float:right;">
            <button class="btn" id="registrationBtn" type="button">Sign Up</button>
        </span>
    </div>
</div>
