@model ItemModel

<form action="BufferedSingleFileUploadPhysical/?handler=Upload"
      enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
      method="post">
    <dl>
        <dt>
            <label for="FileUpload_FormFile">Upload an Image</label>
        </dt>
        <dd>
            <input id="FileUpload_FormFile" type="file"
                   name="FileUpload.FormFile" />
        </dd>
    </dl>

    <input class="btn" type="submit" value="Upload" />

    <div style="margin-top:15px">
        <output name="result"></output>
    </div>
</form>

@using (Html.BeginForm("AddDescription", "Donate", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
    <button type="submit">Add item</button>
}

<script>
    async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                window.location.href = '/';
            }

            resultElement.value = 'Result: ' + response.status + ' ' +
                response.statusText;
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>