@model InfoIndexViewModel

@{
    ViewData["Title"] = "List of Organisations";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@using Microsoft.AspNetCore.Http

<div class="text-center special-elite">
    @if (Model == null) {
        <p>An unexpected error occured. Try reloading the page.</p>
    }
    else {
        foreach (PostModel org in Model.index) {
            <h4><a href="~/Info/Index/@org.OrgId">@org.OrgName</a></h4>
        }
    }
</div>
