@model OrgModel

@{
    if (Model == null) {
        ViewData["Title"] = "Error";
    }
    else {
        ViewData["Title"] = Model.OrgName;
    }
}
@using Microsoft.AspNetCore.Http

<div class="text-center special-elite">
    @if (Model == null) {
        <p>Invalid organisation ID.</p>
    }
    else {
        <h2>@Model.OrgName</h2>
        <h4>@Model.OrgLongDescr</h4>
        <a href=@Model.OrgLink>Visit</a>
    }
</div>
