@model InfoViewModel

@{
    ViewData["Title"] = "Info page";
}
@using Microsoft.AspNetCore.Http

<div class="text-center special-elite">
    @if (Model == null) {
        <p>Invalid organisation ID.</p>
    }
    else {
        <h2>@Model.Title</h2>
        <h4>@Model.LongDescription</h4>
        <a href=@Model.HomeLink>Visit</a>
        <a href=@Model.DonateLink>Donate</a>
    }
</div>
