@model PostModel

@{
    if (Model == null) {
        ViewData["Title"] = "Error";
    }
    else {
        ViewData["Title"] = Model.OrgName;
    }
}
@using Microsoft.AspNetCore.Http

<div class="text-center special-elite">
    @if (Model == null) {
        <p>An unexpected error occured. Try reloading the page.</p>
    }
    else {
        <h2>@Model.OrgName</h2>
        <h4>@Model.OrgLongDescr</h4>
        <p><a href=@Model.OrgLink>Visit</a></p>
        <p><a href="~/Info/Index">More organisations</a></p>
    }
</div>
