@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="app">
        <section class="">
            <article class="tile">
                <figure class="tile__figure">
                    <img src="@Url.Content("/Images/admin.png")"
                         data-hover=""
                         class="tile__image"
                         alt="My image"
                         width="400" />
                </figure>
            </article>
        </section>

        <canvas id="stage"></canvas>
    </div>

    <script src="@(Url.Content("../Scripts/build/bundle.js"))" type="text/javascript"></script>
</div>
